<% layout('layouts/boilerplate') %>
<div class="row">
	<h1>YouTube</h1>
	<div class="mb-3">
		<a href="/youtube/new">Add YouTube Video</a>
	</div>
	<% for(let youtubeLink of youtubeLinks){ %>
	<div class="card mb-3 col-9">
		<div class="row">
			<div class="col-md-4">
				<!-- image -->
			</div>
			<div class="col-md-8">
				<div class="card-body">
					<h5 class="card-title"><%= youtubeLink.url %></h5>
					<p class="card-text"><%= youtubeLink.description %></p>
					<a
						href="/youtube/<%= youtubeLink.id %>"
						class="btn btn-primary"
						>View YouTube Video</a
					>
				</div>
			</div>
		</div>
	</div>
	<% } %>
</div>
